@font-face{
    font-family:"FucXed";
    font-style:normal;
    font-weight:normal;
    src:url("fucxedcaps-v3-webfont.woff2") format("woff2"),url("../fonts/fucxedcaps-v3-webfont.woff") format("woff");
    font-display:swap
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
    /*text-size-adjust: 200%;
	vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-size: 19px;
    font-family: 'Crimson Text', serif;
}


h1 {
    font-size: 45px;
    text-align: center;
    padding: 40px;
    font-weight: 700;
}
h2 {
    font-size: 33px;
    margin-bottom: 0px;
    font-weight: 700;
    padding: 35px;
    padding-top: 20px;
    line-height: 2.8rem; 
}
h3 {
    font-size: 1.6rem;
}
h4 {
    font-size: 1.3rem;
}

div#content {
    display: flex;
    flex-direction: column;
}

div.slide {
    padding-top: 100px;
}

div.slide-inner {
    max-width: 1000px;
    margin: auto;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

}

div.answer {
    cursor:pointer;
    padding: 19px;
    font-size: 25px;
    margin: 32px;
    background-color: hsla(170, 39%, 100%, 1);
}

div.progress {
    font-size: 1.3rem;
    
}

header {
    color: white;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    font-size: 63px;
    font-family:"FucXed";
}

button {
    width: 465px;
    max-width: 100%;
    margin: 40px auto 40px;
    padding: 16px;
    border: none;
    outline: none;
    display: block;
    text-transform: uppercase;
    font-size: 26px;
    line-height: 1.33;
    text-align: center;
    color: #393e41;
    background-color: rgb(60, 200, 85);
    font-family:"FucXed";
    cursor: pointer;
}

.btn-sign {
    color: #393e41;
    background-color: rgb(60, 200, 85);
}

.btn-no {
    color: #b8b5ae;
    background-color: #e3dfd8;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    margin: 80px auto 60px;
    width: 515px;
    display: block;
    font-size: 33px;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: textfield;
    padding: .8125rem 1rem .75rem;
}

.btn-facebook img, .btn-twitter img, .btn-whatsapp img {
    vertical-align: middle;
    margin-right: 15px;
    margin-top: -5px;
}

.btn-facebook {
    width: 320px;
    max-width: 100%;
    margin: 0 30px 0 0;
    padding: 16px;
    border: none;
    outline: none;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    vertical-align: top;
    text-transform: none;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.33;
    text-align: center;
    color: #ffffff;
    background-color: #344f8b;
}