@font-face{
    font-family:"FucXed";
    font-style:normal;
    font-weight:normal;
    src:url("fucxedcaps-v3-webfont.woff2") format("woff2"),url("../fonts/fucxedcaps-v3-webfont.woff") format("woff");
    font-display:swap
}

@-ms-viewport{
    width: device-width;
  }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
    /*text-size-adjust: 200%;
	vertical-align: baseline;*/
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    font-size: 17px;
    font-family: 'Crimson Text', serif;
}


h1 {
    font-size: 32px;
    text-align: center;
    padding: 20px;
    font-weight: 700;
}
h2 {
    font-size: 23px;
    margin-bottom: 0px;
    font-weight: 700;
    padding: 15px;
    line-height: 30px; 
}
h3 {
    font-size: 1.6rem;
}
h4 {
    font-size: 1.3rem;
}

div#content {
    display: flex;
    flex-direction: column;
}

div.slide {
    padding-top: 77px;
    z-index: 5;
    overflow: hidden;
    position: relative;
}

div.slide-inner {
    max-width: 1000px;
    margin: auto;
    z-index: 10;
}



div.answer {
    cursor:pointer;
    padding: 15px;
    font-size: 19px;
    margin: 20px;
    background-color: hsla(170, 39%, 100%, 1);
    
}

div.progress {
    font-size: 17px;
    padding: 10px;
    text-align: center;
}

header {
    color: white;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    font-size: 43px;
    font-family:"FucXed";

    position: fixed;
    height: 66;
    background-color: black;
    width: 100%;
    z-index: 1000;
}

button {
    width: 265px;
    max-width: 100%;
    margin: 40px auto 40px;
    padding: 13px;
    border: none;
    outline: none;
    display: block;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 1.33;
    text-align: center;
    color: #393e41;
    background-color: rgb(60, 200, 85);
    font-family:"FucXed";
    cursor: pointer;
}

.btn-sign {
    color: #393e41;
    background-color: rgb(60, 200, 85);
}

.btn-no {
    color: #b8b5ae;
    background-color: #e3dfd8;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    margin: 80px auto 60px;
    width: 265px;
    display: block;
    font-size: 22px;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: textfield;
    padding: .8125rem 1rem .75rem;
}

.btn-facebook img, .btn-twitter img, .btn-whatsapp img {
    vertical-align: middle;
    margin-right: 15px;
    margin-top: -5px;
}

.btn-facebook {
    width: 265px;
    max-width: 100%;
    
    padding: 14px;
    border: none;
    outline: none;
    display: inline-block;
    font-family: Helvetica, sans-serif;
    vertical-align: top;
    text-transform: none;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.33;
    text-align: center;
    color: #ffffff;
    background-color: #344f8b;
}

.show-answers {
    width: 320px;
    background-color: peru;
    color: white;
}

img.wood-block {
    position: absolute;
    z-index: 2000;
    opacity: 0.08;
    width: 100%;
    max-width: 700px;
    bottom: 0px;
    right: 0px;
    pointer-events: none;
}

.correct-answers {
    background-color: rgb(199, 235, 240);
    color: black;
    padding: 10px;
}

.correct-answers-question {
    font-weight: 700;
 
}

.correct-answers-correct {
    margin: 10px;
    padding: 10px;
    background-color: rgb(120, 250, 185);
}

.correct-answers-title {
    font-size: 15px;
    text-align: center;
    padding-bottom: 8px;
    font-style: italic;
}

h1.result {
    font-size: 28px;
}

h1.well-done {
    font-family: "FucXed";
}

h2.share-this {
    padding: 30px;
}

@media (max-device-width: 568px), (max-device-height: 700px)
{
    h2 {
        font-size: 17px;
        padding: 7px;
        line-height: 23px; 
    }

    div.answer {
        padding: 11px;
        font-size: 19px;
        margin: 10px;
    }

    header {
        padding: 8px;
        font-size: 23px;
        height: 46;
    }

    div.slide {
        padding-top: 47px;
    }
}